<main>
    <div class="px-3 container-fluid">
        <div class="min-vh-100 row">
            <div class="d-flex align-items-center col-md-8 col-lg-6 col-xl-5">
                <div class="w-100 py-5 px-md-5 px-xl-6 position-relative">
                    <div class="mb-5">
                        <img src="assets/images/logo-square.svg" alt="..." style="max-width:4rem" class="img-fluid mb-3"/>
                        <h2>Welcome back</h2>
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="login()" class="form-validate">
                        <div class="form-group">
                            <label for="loginUsername" class="form-label">Email Adress</label>
                            <input type="email" name="loginUsername" id="loginUsername" formControlName="email" placeholder="name@address.com" required="" class="form-control"/>
                        </div>
                        <div class="mb-4 form-group">
                            <label for="loginPassword" class="form-label">Password</label>
                            <input type="password" name="loginPassword" formControlName="password" id="loginPassword" placeholder="Password" required="" class="form-control"/>
                        </div>
                        <div class="mb-4 form-group">
                            <div class="text-muted custom-checkbox custom-control">
                                <input type="checkbox" name="loginRemember" id="loginRemember" class="custom-control-input"/>
                                <label class="custom-control-label" for="loginRemember">
                                    <span class="text-sm">Remember me</span>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
                        <hr data-content="OR" class="my-3 hr-text letter-spacing-2"/>
                        <button type="button" (click)="loginWithSocialMedia('google')" class="btn-social mb-3 btn btn-outline-muted btn-block"><i class="fa-2x fa-google fab btn-social-icon"></i>Connect<span class="d-none d-sm-inline">with Google</span></button>
                        <hr class="my-4"/>
                        <p class="text-center"><small class="text-muted text-center">Don&#x27;t have an account yet? <a routerLink="/auth/register">Sign Up</a></small></p>
                    </form>
                    <a class="close-absolute mr-md-5 mr-xl-6 pt-5" routerLink="/">
                        <svg class="svg-icon w-3rem h-3rem">
                            <use xlink:href="assets/images/orion-svg-sprite.svg#close-1"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="d-none d-md-block col-md-4 col-lg-6 col-xl-7">
                <div style="background-image:url(assets/images/photo-1497436072909-60f360e1d4b1.jpg)" class="bg-cover h-100 mr-n3"></div>
            </div>
        </div>
    </div>
</main>
