<main>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="mb-5">My past reservations</h2>
                </div>
                <div class="col-md-6 text-right">
                    <a class="btn btn-primary" routerLink="/">Go to Home</a>
                </div>
            </div>

            <div class="row">
                <div *ngFor="let reservation of reservations" class="mb-5 col-sm-6 col-md-4 col-xl-4">
                    <div class="h-100 border-0 shadow card">
                        <div class="card-img-top overflow-hidden">
                            <a href="#">
                                <img src="assets/images/photo-1525610553991-2bede1a236e2.jpg" alt="Modern, Well-Appointed Room" class="img-fluid">
                            </a>
                        </div>
                        <div class="d-flex align-items-center card-body">
                            <div class="w-100">
                                <p class="subtitle font-weight-normal text-sm mb-2">{{reservation.reservation_date}}</p>
                                <h6 class="card-title"><a class="text-decoration-none text-dark" href="javascript:void(0);">{{reservation.name}}</a></h6>
                                <div class="d-flex mb-3 card-subtitle">
                                    <p class="flex-shrink-1 mb-0 card-stars text-xs text-right">
                                        <i *ngFor="let i of reservation.price | fill" class="fa fa-star text-warning"></i>
                                        <i *ngFor="let i of 5-reservation.price | fill" class="fa fa-star text-gray-300"></i>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
