<main>
    <section class="py-5">
        <div class="container">
            <nav class="" aria-label="breadcrumb">
                <ol class="breadcrumb pl-0 justify-content-start">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="active breadcrumb-item" aria-current="page">Your trips</li>
                </ol>
            </nav>
            <h1 class="hero-heading mb-4">Your nearest bookings</h1>
            <p class="text-muted mb-5">You have no upcoming trips. Start exploring ideas for your next trip.</p>
            <p class="mb-6"><img src="/content/img/illustration/undraw_trip_dv9f.svg" alt="" style="width:400px" class="img-fluid"></p>
            <h2 class="mb-5">Your past bookings</h2>
            <div class="row">
                <div class="mb-5 col-sm-6 col-md-4 col-xl-3">
                    <div class="h-100 border-0 shadow card">
                        <div class="card-img-top overflow-hidden"><a href="/user-booking-detail"><img src="/content/img/photo/photo-1484154218962-a197022b5858.jpg" alt="Modern, Well-Appointed Room" class="img-fluid"></a></div>
                        <div class="d-flex align-items-center card-body">
                            <div class="w-100">
                                <p class="subtitle font-weight-normal text-sm mb-2">March 2019</p>
                                <h6 class="card-title"><a class="text-decoration-none text-dark" href="/user-booking-detail">Modern, Well-Appointed Room</a></h6>
                                <div class="d-flex mb-3 card-subtitle">
                                    <p class="flex-grow-1 mb-0 text-muted text-sm">Private room</p>
                                    <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5 col-sm-6 col-md-4 col-xl-3">
                    <div class="h-100 border-0 shadow card">
                        <div class="card-img-top overflow-hidden"><a href="/user-booking-detail"><img src="/content/img/photo/photo-1426122402199-be02db90eb90.jpg" alt="Cute Quirky Garden apt, NYC adjacent" class="img-fluid"></a></div>
                        <div class="d-flex align-items-center card-body">
                            <div class="w-100">
                                <p class="subtitle font-weight-normal text-sm mb-2">March 2019</p>
                                <h6 class="card-title"><a class="text-decoration-none text-dark" href="/user-booking-detail">Cute Quirky Garden apt, NYC adjacent</a></h6>
                                <div class="d-flex mb-3 card-subtitle">
                                    <p class="flex-grow-1 mb-0 text-muted text-sm">Entire apartment</p>
                                    <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa fa-star  text-gray-300"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5 col-sm-6 col-md-4 col-xl-3">
                    <div class="h-100 border-0 shadow card">
                        <div class="card-img-top overflow-hidden"><a href="/user-booking-detail"><img src="/content/img/photo/photo-1512917774080-9991f1c4c750.jpg" alt="Modern Apt - Vibrant Neighborhood!" class="img-fluid"></a></div>
                        <div class="d-flex align-items-center card-body">
                            <div class="w-100">
                                <p class="subtitle font-weight-normal text-sm mb-2">March 2019</p>
                                <h6 class="card-title"><a class="text-decoration-none text-dark" href="/user-booking-detail">Modern Apt - Vibrant Neighborhood!</a></h6>
                                <div class="d-flex mb-3 card-subtitle">
                                    <p class="flex-grow-1 mb-0 text-muted text-sm">Entire apartment</p>
                                    <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa fa-star  text-gray-300"></i><i class="fa fa-star  text-gray-300"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-5 col-sm-6 col-md-4 col-xl-3">
                    <div class="h-100 border-0 shadow card">
                        <div class="card-img-top overflow-hidden"><a href="/user-booking-detail"><img src="/content/img/photo/photo-1494526585095-c41746248156.jpg" alt="Sunny Private Studio-Apartment" class="img-fluid"></a></div>
                        <div class="d-flex align-items-center card-body">
                            <div class="w-100">
                                <p class="subtitle font-weight-normal text-sm mb-2">March 2019</p>
                                <h6 class="card-title"><a class="text-decoration-none text-dark" href="/user-booking-detail">Sunny Private Studio-Apartment</a></h6>
                                <div class="d-flex mb-3 card-subtitle">
                                    <p class="flex-grow-1 mb-0 text-muted text-sm">Shared room</p>
                                    <p class="flex-shrink-1 mb-0 card-stars text-xs text-right"><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa  fa-star text-warning"></i><i class="fa fa-star  text-gray-300"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
